# Virtual environment
env/*.json
venv/
.venv/

# Pytest
.pytest_cache/

# IDEs and editors
.vscode/

# OS files
.DS_Store
Thumbs.db

# GCP service account keys
*.json

# ignore data folder
data/

# Sanity checks
sanity.py